.footer {
  background-color: #0a2850;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  color: #fff;
  padding-left: 80px;
  overflow: hidden;
}

.footer__circle {
  background-color: #2f80ed;
  border-radius: 50%;
  width: 340px;
  height: 340px;
  position: absolute;
  top: 44px;
  left: 128px;
  z-index: 1;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  z-index: 5;
  padding-top: 60px;
}
.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__social {
  padding-right: 80px;
  padding-bottom: 108px;
}
.footer__social-heading {
  padding-bottom: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-top: 16px;
}
.footer__social-link {
  display: flex;
  color: #fff;
  column-gap: 10px;
  text-decoration: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__copyright {
  padding-bottom: 60px;
}
